body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	/* overflow: hidden; */
	/* Remove this line */
}

header {
	position: relative;
	height: 100vh;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

nav {
  background-color: rgba(154, 154, 154, 0.8); /* 半透明背景 */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* 确保导航栏在顶层 */
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  position: relative;
}

nav a:hover {
  color: blueviolet; /* 设置悬停时的颜色，可以根据需要修改 */
}

nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav a:hover::before {
  transform: scaleX(1);
  background-color: #ffd700; /* 悬浮时的边框颜色 */
}


.footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}